* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html { 
    background: url("https://images.unsplash.com/photo-1518099074172-2e47ee6cfdc0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2560&q=80") no-repeat center center fixed; 
    background-size: cover;
}
body{
    color: white;
    margin: 0px;
    padding: 0px;
    font-family: 'Merriweather', serif;
}
p {
    margin-top: 2vh;
    text-align: center;
    min-width: 250px;
    max-width: 900px;
    width: 70vw;
    line-height: 2rem;
    font-weight: 300;
}
.navBarContainer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    opacity: .80;
    border-bottom: 2px solid rgb(184, 157, 9);
    height: 10vh;
}
.navBar{
    display: flex;

}
ul > li{
    list-style-type: none;
    margin: 2rem;
    transition: .5s;
}

ul > li:hover{
   text-decoration: underline;
   color: rgb(184, 157, 9);
   cursor: pointer;
}
.aboutUs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: black;
    opacity: .70;
    height: 40vh;
    font-weight: 400;
    margin-top: 10em;
    
}
.footerContainer{
    margin-top: 250px;
    background-color: black;
    width: 100%;
    background-color: black;
    opacity: .80;
}
.logos{
    display: flex;
    justify-content: flex-end;
}









